build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://remote.buildbuddy.io
build --remote_cache=grpcs://remote.buildbuddy.io
build --remote_timeout=60
build --remote_cache_compression

build --incompatible_strict_action_env

try-import %workspace%/.bazelrc.user
